:root {
    --white: #FFFFFF;
    --black: #000000;
    --light-pink: #C7C7C7;
    --text-input-field: #f7f7f7;
    --flag--green: #004c00;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    place-items: center;
    border-bottom: 1px solid var(--light-pink);
}

.menu {
    display: none;
}

.logo {
    width: 100px;
}

.navbarLeft {
    display: flex;
}

.navbarLeft ul {
    margin-left: 20px;
}

.navbarLeft ul,
.navbarRight ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarLeft ul li a,
.navbarRight ul li a {
    text-decoration: none;
    color: var(--light-pink);
    border: 1px solid var(--white);
    border-radius: 12px;
    padding: 12px;
}

.navbarLeft ul li a:hover,
.navbarRight ul li a:hover {
    color: var(--flag--green);
    border: 1px solid var(--flag--green);
}

.navbarEmail {
    color: var(--light-pink);
    font-size: var(--sm);
    margin-right: 20px;
    cursor: pointer;
}

.navbarEmail:hover {
    color: var(--flag--green);
}

.navbarEmail img {
    transform: rotate(90deg);
    margin-left: 4px;
}

.navbarShoppingCard {
    position: relative;
    cursor: pointer;
}

.navbarShoppingCard div {
    width: 18px;
    height: 18px;
    color: var(--light-pink);
    background-color: var(--flag--green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inactive {
    display: none;
}

/** Menu desktop */
.desktopMenu {
    position: absolute;
    top: 66px;
    right: 66px;
    width: 100px;
    height: auto;
    border: 1px solid var(--light-pink);
    border-radius: 8px;
    padding: 20px 20px 0 20px;
    background: var(--white);
    z-index: 1;
}

.desktopMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktopMenu ul li {
    text-align: end;
}

.desktopMenu ul li:not(:last-child) {
    font-weight: bold;
}

.desktopMenu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--light-pink);
    color: var(--flag--green);
}

.desktopMenu ul li:last-child a {
    color: var(--flag--green);
    font-size: var(--sm);
}

.desktopMenu ul li a {
    color: var(--black);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

/** Menu mobile */
.mobileMenu {
    position: absolute;
    top: 66px;
    width: 100%;
    height: 80%;
    padding: 24px;
    background: var(--white);
    z-index: 1;
}

.mobileMenu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold
}

.mobileMenu ul {
    padding: 0;
    list-style: none;
}

.mobileMenu ul:nth-child(1) {

    border-bottom: 1px solid var(--light-pink);
}

.mobileMenu ul li {
    margin-bottom: 24px;
}

.mobileMenu .email {
    font-size: var(--sm);
    font-weight: 300;
}

.mobileMenu .bloquEnd {
    position: absolute;
    bottom: 12px;
}

.mobileMenu .bloquEnd li {
    margin-bottom: 0;
}

.mobileMenu .signOut {
    color: var(--flag--green);
    font-size: var(--sm);
}

/** ----Shooping cart ----*/

.productDetail {
    width: 360px;
    padding: 0 24px 24px 24px;
    box-sizing: border-box;
    position: absolute;
    border-radius: 10px;
    background: var(--white);
    right: 0;
}

.titleContainer {
    display: flex;
}

.arrow {
    margin-right: 12px;
    cursor: pointer;
}

.title {
    font-size: var(--lg);
    font-weight: bold;
}

.myOrder {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.myOrderContainer {
    display: grid;
    grid-template-rows: auto fr auto;
    width: 300px;
}

.myOrderContent {
    display: flex;
    flex-direction: column;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}

.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}

.order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}

.primaryButton {
    background-color: var(--flag--green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    height: 48px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}

.shoopingCard {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 20px;
    align-items: center;
}

.shoopingCard figure {
    margin: 0;
}

.shoopingCard figure img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    object-fit: cover;

}

.shoopingCard p:nth-child(2) {
    color: var(--light-pink);
}

.shoopingCard p:nth-child(3) {
    font-weight: bold;
}

/** ----Product list ----*/

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 24px;
    place-content: center;
    margin-top: 24px;
}

.productCard {
    width: 240px;
}

.productCard img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}

.productInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.productInfo figure {
    margin: 0;
}

.productInfo figure img {
    width: 35px;
    height: 35px;
}

.productInfo div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

.productInfo div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--light-pink);
}


@media (max-width: 900px) {
    .menu {
        display: block;
        cursor: pointer;
    }

    .navbarLeft ul {
        display: none;
    }

    .navbarEmail {
        display: none;
    }

    .desktopMenu {
        display: none;
    }

    .productDetail {
        width: 100%;
    }
}

@media (min-width: 901px) {
    .mobileMenu {
        display: none;
    }
}

@media (max-width: 640px) {
    .cardsContainer {
        grid-template-columns: repeat(auto-fill, 180px);
    }

    .productCard {
        width: 180px;
    }

    .productCard img {
        width: 180px;
        height: 180px;
        border-radius: 15px;
    }
}